Virtual Environment
venv/
*.venv/
env/
.env

Python cache files
pycache/
*.pyc
*.pyo
*.pyd

Database files
*.db
*.sqlite3

OS and Editor specific files
.DS_Store
.vscode/
.idea/

Backup only files
backup/